# Data Manipulation & Reshaping
This training module was developed by Dr. Kyle R. Roell, Dr. Julia E. Rager, and Alexis Payton

Spring 2023

## Introduction to Training Module

Data within the fields of exposure science, toxicology, and public health are very rarely prepared and ready for all statistical analyses/visualization code. The beginning of almost any scripted analysis includes important formatting steps. These steps largely encompass data organization, manipulation, and other steps in preparation for actual statistical analyses/visualizations. Data organization and manipulation generally refers to organizing and formatting data in a way that makes it easier to read and work with. This can be done several ways, including:

+ Base R operations and functions, or
+ A collection of packages (and philosophy) known as [Tidyverse](https://www.tidyverse.org).

In this training tutorial we will go over some of the most common ways you can organize and manipulate data, including:

+ Merging data
+ Filtering and subsetting data
+ Melting and casting data

These approaches will first be taught using the basic operations and functions available in  base R. Then, the exact same approaches will be taught using the Tidyverse package and associated functions and syntax.

These data manipulation and organization methods are demonstrated using an example environmentally relevant human cohort dataset. This cohort was generated by creating data distributions randomly pulled from our previously published cohorts, resulting in a bespoke dataset for these training purposes with associated demographic data and variable environmental exposure metrics from metal levels obtained using sources of drinking water and human urine samples.



#### Set your working directory
In preparation, first let's set our working directory to the folderpath that contains our input files

In [ ]:
setwd("/filepath to where your input files are")

Note that in macOS, filepaths use "/" as folder separaters; whereas in PCs, filepaths use "\".


#### Importing example datasets

Then let's read in our example datasets

In [1]:
demographic_data <- read.csv("Module1_2/Module1_2_DemographicData.csv")
chemical_data <- read.csv("Module1_2/Module1_2_ChemicalData.csv")

#### Viewing example datasets
Let's see what these datasets look like:

In [4]:
dim(demographic_data)
dim(chemical_data)

[1] 200   6

[1] 200   7

The demographic dataset includes 200 rows x 7 columns, while the chemical measurement dataset includes 200 rows x 7 columns.

In [8]:
head(demographic_data)

  ID BMI  MAge     MEdu BW       GA
1 1  27.7 22.99928 3    3180.058 34
2 2  26.8 30.05142 3    3210.823 43
3 3  33.2 28.04660 3    3311.551 40
4 4  30.1 34.81796 3    3266.844 32
5 5  37.4 42.68440 3    3664.088 35
6 6  33.3 24.94960 3    3328.988 40

These demographic data are organized according to subject ID **(first column) followed by the following subject information:

+ **BMI** (Body Mass Index)
+ **MAge** (Maternal Age, units: years)
+ **MEdu** (Maternal Education, 1 = "less than high school"; 2 = "high school or some college"; 3 = "college or greater")
+ **BW** (Body Weight, units: grams)
+ **GA** (Gestational Age, units: weeks)

In [7]:
# The `head` function displays all the columns and the first 6 rows of a dataframe
head(chemical_data)

  ID DWAs     DWCd     DWCr     UAs       UCd       UCr
1 1  6.426464 1.292941 51.67987 10.192695 0.7537104 42.60187
2 2  7.832384 1.798535 50.10409 11.815088 0.9789506 41.30757
3 3  7.516569 1.288461 48.74001 10.079057 0.1903262 36.47716
4 4  5.906656 2.075259 50.92745  8.719123 0.9364825 42.47987
5 5  7.181873 2.762643 55.16882  9.436559 1.4977829 47.78528
6 6  9.723429 3.054057 51.14812 11.589403 1.6645837 38.26386

These chemical data are organized according to subject ID** (first column), followed by measures of:

+ **DWAs** (drinking water Arsenic levels in µg/L)
+ **DWCd** (drinking water Cadmium levels in µg/L)
+ **DWCr** (drinking water Chromium levels in µg/L)
+ **UAs** (urinary Arsenic levels in µg/L)
+ **UCd** (urinary Cadmium levels in µg/L)
+ **UCr** (urinary Chromium levels in µg/L)

## Data Manipulation using Base R

#### Merging Data using Base R Syntax
Merging datasets represents the joining together of two or more datasets, while connecting the datasets using a common identifier (generally some sort of ID). This is useful if you have multiple datasets describing different aspects of the study, different variables, or different measures across the same samples. Samples could correspond to the same study participants, animals, cell culture samples, environmental media samples, etc, depending on the study design. In the current example, we will be joining human demographic data and environmental metals exposure data collected from drinking water and human urine samples.

Let's start by merging the example demographic data with the chemical measurement data using the base R function `merge`. To learn more about this function, you can type the following:

In [9]:
?merge

which brings up helpful information in the R console. To merge these datasets using the merge function, use the following code:

In [12]:
full.data <- merge(demographic_data, chemical_data, by = "ID") 
dim(full.data)

[1] 200  12

This merged dataframe contains 200 rows x 12 columns. Viewing this merged dataframe:

In [13]:
head(full.data)

  ID BMI  MAge     MEdu BW       GA DWAs     DWCd     DWCr     UAs
1 1  27.7 22.99928 3    3180.058 34 6.426464 1.292941 51.67987 10.192695
2 2  26.8 30.05142 3    3210.823 43 7.832384 1.798535 50.10409 11.815088
3 3  33.2 28.04660 3    3311.551 40 7.516569 1.288461 48.74001 10.079057
4 4  30.1 34.81796 3    3266.844 32 5.906656 2.075259 50.92745  8.719123
5 5  37.4 42.68440 3    3664.088 35 7.181873 2.762643 55.16882  9.436559
6 6  33.3 24.94960 3    3328.988 40 9.723429 3.054057 51.14812 11.589403
  UCd       UCr
1 0.7537104 42.60187
2 0.9789506 41.30757
3 0.1903262 36.47716
4 0.9364825 42.47987
5 1.4977829 47.78528
6 1.6645837 38.26386

We can see that the `merge` function retained the first column in each original dataframe (`ID`), though did not replicate it since it was used as the identifier to merge off of. All other columns include their original data, just merged together by the IDs in the first column.

These datasets were actually quite easy to merge, since they had the same exact column identifier and number of rows. You can edit your script to include more specifics in instances when these may differ across datasets that you would like to merge. For example:

In [15]:
full.data <- merge(demographic_data, chemical_data, by.x = "ID", by.y = "ID") 
# This option allows you to edit the column header text that is used in each 
# Here, these are still the same "ID", but you can see that adding 
# this script allows you to specify instances when differ header text is used.

# Viewing data
head(full.data)

  ID BMI  MAge     MEdu BW       GA DWAs     DWCd     DWCr     UAs
1 1  27.7 22.99928 3    3180.058 34 6.426464 1.292941 51.67987 10.192695
2 2  26.8 30.05142 3    3210.823 43 7.832384 1.798535 50.10409 11.815088
3 3  33.2 28.04660 3    3311.551 40 7.516569 1.288461 48.74001 10.079057
4 4  30.1 34.81796 3    3266.844 32 5.906656 2.075259 50.92745  8.719123
5 5  37.4 42.68440 3    3664.088 35 7.181873 2.762643 55.16882  9.436559
6 6  33.3 24.94960 3    3328.988 40 9.723429 3.054057 51.14812 11.589403
  UCd       UCr
1 0.7537104 42.60187
2 0.9789506 41.30757
3 0.1903262 36.47716
4 0.9364825 42.47987
5 1.4977829 47.78528
6 1.6645837 38.26386

#### Filtering and Subsetting Data using Base R Syntax

Filtering and subsetting data are useful tools when you need to focus your dataset to highlight data you are interested in analyzing downstream. These could represent, for example, specific samples or participants that meet certain criteria that you are interested in evaluating. It is also useful for simply removing particular variables or samples from dataframes as you are working through your script. These methods are illustrated here.

For this example, let's first define a vector of columns that we want to keep in our analysis

In [16]:
subset.columns <- c("BMI", "MAge", "MEdu")

# Subsetting the data by selecting the columns represented in the defined 
# 'subset.columns' vector
subset.data1 <- full.data[,subset.columns]

# Viewing the top of this subsetted dataframe
head(subset.data1)

  BMI  MAge     MEdu
1 27.7 22.99928 3
2 26.8 30.05142 3
3 33.2 28.04660 3
4 30.1 34.81796 3
5 37.4 42.68440 3
6 33.3 24.94960 3

We can also easily subset data based on row numbers. For example, to keep only the first 100 rows:

In [17]:
subset.data3 <- full.data[1:100,]

# Viewing the dimensions of this new dataframe
dim(subset.data3)

[1] 100  12

To remove the first 100 rows:

In [18]:
subset.data4 <- full.data[-c(1:100),]

# Viewing the dimensions of this new dataframe
dim(subset.data4)

[1] 100  12

**Conditional statements** are also written to filter and subset data. A **conditional statement** is written to execute one block of code if the statement is true and a different block of code if the statement is false. 

A conditional statement requires a boolean or true/false statement that will be either TRUE or FALSE. A couple of the more commonly used functions used to create conditional statements include...
 - `if(){}` or an if statement means "execute R code when the condition is met".
 - `if(){} else{}` or an if/else statement means "execute R code when condition 1 is met, if not excute R code for condition 2".

There are six comparison operators that are used to created these boolean values. 
- `==` means "equals".
- `!=` means "not equal".
- `<` means "less than".
- `>` means "greater than".
- `<=` means "less than or equal to".
- `>=` mean "greater than or equal to".

There are also three logical operators that are used to create these boolean values.
- `&` means "and".
- `|` means "or".
- `!` means "not".

Filtering data based on conditions can also be done using the `subset` function:

In [22]:
# Filtering for subjects whose BMI is greater than 25 and has a college education
subset.data6 <- subset(full.data, BMI > 25 & MEdu == 3)

Additionally, we can subset and select specific columns we would like to keep, using `select` within the `subset` function:

In [23]:
# Filtering for subjects whose BMI is less than 22 or greater than 27
# Also selecting the BMI, maternal age, and maternal education columns
subset.data7 <- subset(full.data, BMI < 22 | BMI > 27, select = subset.columns)

For more information on the `subset` function, see its associated [RDocumentation website](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/subset).

#### Melting and Casting Data using Base R Syntax
Melting and casting refers to the conversion of data to "long" or "wide" form as discussed previously in [Module 1.2](link to module). You will often see data within the environmental health field in wide format; though long format is necessary for some procedures, such as plotting with [ggplot2](https://ggplot2.tidyverse.org).

Here, we'll illustrate some example script to melt and cast data using the [reshape2 package](https://www.rdocumentation.org/packages/reshape2/versions/1.4.4).
Let's first install and load the `reshape2` library:

In [ ]:
if (!requireNamespace("reshape2"))
  install.packages("reshape2");

In [ ]:
library(reshape2)